doctype html
head
  title
  link(rel='stylesheet' href='css/index.css')
.main
  .img.vp
    img(src='images/me.jpg' alt='there is my foto')
    h2 Farhod Nazarov
    p Backend Developer (Golang and NodeJs)
  .about.vp
    h3 About Me
    p
      | Lorem ipsum dolor sit amet,
      | consectetur adipisicing elit.
      | Saepe delectus, quae possimus atque quam reprehenderit.
      | Veniam facilis distinctio ullam quos?
      | Necessitatibus inventore ea beatae cumque
      | officia quod voluptates consequuntur magni!
  .edu.vp
    h3 Education
    .cols
      .col
        h4 2012-2016
        p Diplom of Heigh Scoole
      .col
        h4 2016-2020
        p
          | Bachlore&apos;s degree IT-engeneer
      .col
        h4 2016-2022
        p
          | Magistr&apos;s degree Mathematic...
  .skills.vp
    .prog
      h4 ~ PROGRAMMING
      p JavaScript
      p Python
      p Golang
      p PostgreSql
      p MongoDB
    .lan
      h4 ~ LANGUAGES
      span Uzbek
      p Native
      span English
      p Basic
      span Rus
      p Basic
  .contacts
    h2 Contacts
    ul
      li
        a(href='#')
          span
          span
          span
          span
          span
            ion-icon(name='logo-facebook')
      li
        a(href='#')
          span
          span
          span
          span
          span
            ion-icon(name='logo-twitter')
      li
        a(href='#')
          span
          span
          span
          span
          span
            ion-icon(name='logo-google')
      li
        a(href='https://www.linkedin.com/in/farxod-nazarov-018481205' target='_blank')
          span
          span
          span
          span
          span
            ion-icon(name='logo-linkedin')
      li
        a(href='https://www.instagram.com/fnazarov97/' target='_blank')
          span
          span
          span
          span
          span
            ion-icon(name='logo-instagram')
    // <h3>Copyright 2022</h3>
    script(src='https://unpkg.com/ionicons@5.4.0/dist/ionicons.js')
