doctype html
head
  meta(lang='eng')
  title toDoList
  link(rel='stylesheet' href='css/todo.css')
.container
  h1 My toDoList
  div
    input#input.inp(type='text' placeholder='Enter something here')
    button#add.btn Add
  #todoList
script(src='js/todo.js')
